{include file="header.htm" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <!-- <p style="font-size: 15px;line-height: 2em;">【绑定与解绑】</p> -->
            <ol style="font-size: 15px;line-height: 2em;">
                <li>根据不同扫码模式，查看不同的说明文档引导<br/><br/>
                    <img src="__WEAPP_TEMPLATE__/skin/images/4.png"><br/><br/>
                </li>
<!--                 <li>第一、在插件里开启扫码功能，选择需要的扫码模式，并保存<br/>
                    <img src="__WEAPP_TEMPLATE__/skin/images/3.png"><br/><br/>
                </li>
                <li>第二、然后点击后台右上角的个人信息<br/>
                    <img src="__WEAPP_TEMPLATE__/skin/images/1.png"><br/><br/>
                </li>
                <li>第三、进行微信扫码绑定/解绑<br/>
                    <img src="__WEAPP_TEMPLATE__/skin/images/2.png">
                </li> -->
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}