{eyou:include file="comm/head.htm" /}
<div class="content index">
    <div class="banner">
        <ul class="bxslider">
            {eyou:adv pid='1'}
            <li><a href='{$field.links}' {$field.target}><img src="{$field.litpic}" /></a></li>
            {/eyou:adv}
        </ul>
    </div>
    <div class="company">
        <h1 class="title title2">Business Center</h1>
        <p class="subIntro">Build the most professional logistics team in East China for cargo containerization and chemical hazardous goods transportation.</p>
        <div class="companyBox">
            <ul class="bxslider">
                <li>
                    <a href="hdyw.html">
                        <i><span><img src="/template/old/images/circle1.png" /></span></i>
                        <em>Import and export freight forwarding business</em>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="gxfw.html">
                        <i><span><img src="/template/old/images/circle2.png" /></span></i>
                        <em>Tank container services</em>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="gjwl.html">
                        <i><span><img src="/template/old/images/circle7.png" /></span></i>
                        <em>International logistics solutions</em>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="wxpys.html">
                        <i><span><img src="/template/old/images/circle9.png" /></span></i>
                        <em>Advantages of Dangerous Goods Freight Forwarding</em>
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="intro">
        <h1 class="title title1">About Channel</h1>
        <p class="subIntro">China International Freight Co., Ltd. is a non-vessel operating common carrier (MOC-NV 07688) approved by the Ministry of Transport of the People's Republic of China. We specialize in cargo consolidation, international and domestic warehousing and transportation of hazardous chemicals, ISO tank container leasing, and international integrated logistics services.</p>
        <ul class="clearboth">
            <!-- <li>
                    <em><i>6</i></em>
                    <span>驰诺成立于2014年,成立6年</span>
                </li>-->
            <li>
                <em><i>5</i></em>
                <span>Dangerous goods storage base, with professional equipment for tank maintenance and washing</p></span>
            </li>
            <li>
                <em><i>6</i><i>0</i></em>
                <span>More than 60 team professionals provide one-stop service</span>
            </li>
            <li>
                <em><i>1</i><i>0</i><i>0</i></em>
                <span>More than 100 professional hazardous chemicals transport vehicles to provide professional services to customers</span>
            </li>
            <li>
                <em><i>2</i><i>0</i><i>0</i></em>
                <span>Served more than 200 customers</span>
            </li>
            <li>
                <em><i>3</i><i>2</i><i>0</i><i>0</i></em>
                <span>Own more than 3,200 gas and liquid tanks</span>
            </li>
        </ul>
    </div>
    <div class="main main_s">
        <div class="w-1300">
            <h1 class="title title2">Latest News</h1>
            <div class="main_s_m">
                <a class="next"></a>
                <a class="prev"></a>
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:1172px">
                        <ul style="width: 1465px; left: -293px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            {eyou:artlist typeid='2' loop='5' titlelen='30' infolen='50'}
                            <li style="float: left; width: 269px;background-color:#ffffff;">
                                <a href="{$field.arcurl}"><img src="{$field.litpic}" />
                                    <h4 style="height:48px;text-align:left;padding-left:5px;" title="{$field.title}">{$field.title}</h4>
                                    <p style="padding:0px 10px;width:250px;">{$field.content|html_msubstr=###,0,50}</p>
                                </a>
                            </li>
                            {/eyou:artlist}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_s_more">
                {eyou:type typeid="2"}<a href="{$field.typeurl}" target="_blank"><span>More updates</span></a>{/eyou:type}
            </div>
        </div>
    </div>
    <div class="more">
        <ul class="clearboth">
            <li>
                {eyou:type typeid="37"}
                <a href="{$field.typeurl}" class="moreImg"><img src="/template/old/images/home1.jpg" /></a>
                <h1><a href="{$field.typeurl}">{$field.englist_name}</a></h1>
                <p>{$field.Subtypename}</p>
                <a href="{$field.typeurl}" class="moreBtn">More 》</a>
                {/eyou:type}
            </li>
            <li>
                <a href="https://haven.scm.eportyun.com" target="_blank" class="moreImg"><img src="/template/old/images/home2.jpg" /></a>
                <h1><a href="https://haven.scm.eportyun.com" target="_blank">· External tool query</a></h1>
                <p class="clearboth">
                    <a href="http://www.somsds.com/msds.html" data-id="1" target="_blank">· List of Chemical Safety Data Sheets</a>
                    <a href="http://www.fob001.cn/" data-id="11" target="_blank">· Shipping Guide</a>
                    <BR>
                    <a href="https://haven.scm.eportyun.com/" data-id="3" target="_blank">· Yunhai Supply Chain·Digital International Logistics Management System</a>
                    <a href="http://www.chinaports.com/shiptracker/shipinit.do?method=forIndex" data-id="13" target="_blank">· Ship dynamic query</a>
                </p>
                <a href="https://haven-p.scm.eportyun.com/portal/login/form/index/" class="moreBtn" target="_blank">More 》</a>
            </li>
            <li>
                {eyou:type typeid="36"}
                <a href="{$field.typeurl}" class="moreImg"><img src="/template/old/images/home3.jpg" /></a>
                <h1><a href="{$field.typeurl}">{$field.englist_name}</a></h1>
                <p>{$field.Subtypename}</p>
                <a href="{$field.typeurl}" class="moreBtn">More 》</a>
                {/eyou:type}
            </li>
            <li>
                {eyou:type typeid="34"}
                <a href="{$field.typeurl}" class="moreImg"><img src="/template/old/images/home4.jpg" /></a>
                <h1><a href="{$field.typeurl}">{$field.englist_name}</a></h1>
                <p>{$field.Subtypename}</p>
                <a href="{$field.typeurl}" class="moreBtn">More 》</a>
                {/eyou:type}
            </li>
        </ul>
    </div>
</div>
{eyou:include file="comm/foot.htm" /}
</body>
</html>
