{eyou:include file="comm/head.htm" /}
{eyou:include file="comm/top.htm" /}
<div class="all">
    <div class="news_cont clearboth">
        <div class="Left">
        {eyou:include file="comm/sortnav.htm" /}
        </div>

        <div class="right_cont">
            {eyou:include file="comm/position.htm" /}
            <div class="partner">
              <div>
                  <ul class="image-container">
                    {eyou:list loop='100' titlelen='30' infolen='160' orderby='add_time'}
                      <li><img src="{$field.litpic}" /></li>
                      {/eyou:list}
                  </ul>
                </div>
          </div>
    </div>
  </div>
</div>
{eyou:include file="comm/foot.htm" /}