{eyou:include file="comm/head.htm" /}

{eyou:include file="comm/top.htm" /}



<div class="all">

    <div class="about_cont clearboth">

        <div class="Left">

            {eyou:include file="comm/sortnav.htm" /}

        </div>

        <div class="right_cont">

            {eyou:include file="comm/position.htm" /}

            <div class="numbox">
                {eyou:if condition="$Think.cookie.home_lang =='cn'"}
                <ul class="clearboth">

                    <!--<li><h3><i>6</i></h3><p>驰诺成立于2014年，成立6年</p></li>-->

                    <li>

                        <h3><i>5</i></h3>

                        <p>危险品仓储基地<Br>有维修洗罐等专业设备</p>

                    </li>

                    <li>

                        <h3><i>6</i><i>0</i></h3>

                        <p>60多辆车辆<Br>为您提供最专业的服务</p>

                    </li>

                    <li>

                        <h3><i>1</i><i>0</i><i>0</i></h3>

                        <p>危化品专业运输车辆百余台<Br>为客户提供专业服务</p>

                    </li>

                    <li>

                        <h3><i>2</i><i>0</i><i>0</i></h3>

                        <p>已为200多家客户提供服务</p>

                    </li>

                    <li>

                        <h3><i>3</i><i>2</i><i>0</i><i>0</i></h3>

                        <p>自有3200多台气体、液体罐</p>

                    </li>

                </ul>
                {eyou:elseif condition="$Think.cookie.home_lang =='en'"}
                <ul class="clearboth">

                    <!--<li><h3><i>6</i></h3><p>驰诺成立于2014年，成立6年</p></li>-->

                    <li>

                        <h3><i>5</i></h3>

                        <p>Dangerous goods storage base<Br>There are professional equipment for tank maintenance and washing</p>

                    </li>

                    <li>

                        <h3><i>6</i><i>0</i></h3>

                        <p>More than 60 vehicles<Br>Provide you with the most professional service</p>

                    </li>

                    <li>

                        <h3><i>1</i><i>0</i><i>0</i></h3>

                        <p>More than 100 professional hazardous chemicals transport vehicles<Br>Provide professional services to customers</p>

                    </li>

                    <li>

                        <h3><i>2</i><i>0</i><i>0</i></h3>

                        <p>Served more than 200 customers</p>

                    </li>

                    <li>

                        <h3><i>3</i><i>2</i><i>0</i><i>0</i></h3>

                        <p>Own more than 3,200 gas and liquid tanks</p>

                    </li>

                </ul>
                {/eyou:if}

            </div>

            <div class="p1">{$eyou.field.content}</div>

        </div>

    </div>

</div>



{eyou:include file="comm/foot.htm" /}



</body>

</html>