{eyou:include file="comm/head.htm" /}
{eyou:include file="comm/top.htm" /}

	<div class="all">
		<div class="news_cont clearboth">
			<div class="Left">
				{pboot:nav parent={sort:tcode}}
				<a href="[nav:link]" {pboot:if('[nav:scode]'=='{sort:scode}' )}class="cur" {/pboot:if}>[nav:name] <img
						src="{pboot:sitetplpath}/images/old/leftbg2.png" /></a>
				{/pboot:nav}
			</div>
	
			<div class="right_cont">
				<div class="news clearboth">
					<h1>{content:title}</h1>
					<div class="subBox clearboth">
						<span class="time">{content:date}</span>
						<div class="bdsharebuttonbox newsRight"></div>
					</div>
					<p>{content:content}</p>
	
					<div class="bdsharebuttonbox"></div>
				</div>
				<div class="page_box">
					<a class=font_hei href="{content:prelink}">{content:pretitle}</a>
					<a href="{content:nextlink}" class="back">{content:nexttitle notext='no more'}</a>
				</div>
			</div>
		</div>
	</div>



	{eyou:include file="comm/foot.htm" /}

</body>

</html>