<footer>
  <div id="footer">
    <div class="inner">
      <div id="logoIcon">
        <div class="icon"> <img src="{label:footlogo}" alt="{pboot:sitetitle}"/> </div>
      </div>
      <div id="copyright">
        <p>{pboot:sitecopyright}</p>
        <p><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{pboot:siteicp}</a> <a target="_blank" href="{pboot:sitepath}/sitemap.xml">XML地图</a>  </p>
      </div>
      <div id="beian">
        <p> <a target="_blank" href="https://www.baidu.com/" title="模板网">网站模板</a> </p>
        <p> {pboot:sitestatistical} </p>
      </div>
    </div>
  </div>
</footer>
<script>	
	var _url = '/';
</script> 
<script src="{pboot:sitepath}/skin/js/wow.min.js"></script> 
<script src="{pboot:sitepath}/skin/js/slick.min.js"></script> 
<script src="{pboot:sitepath}/skin/js/jquery-rebox.js"></script> 
<script src="{pboot:sitepath}/skin/js/js.js"></script>