<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="applicable-device" content="pc,mobile"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link rel="stylesheet" type="text/css" href="{pboot:sitepath}/skin/css/remixicon.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{pboot:sitepath}/skin/css/animate.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{pboot:sitepath}/skin/css/style.css" media="screen"/>
<script src="{pboot:sitepath}/skin/js/jquery-2.2.4.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{pboot:sitepath}/skin/js/html5shiv.v3.72.min.js"></script>
<![endif]-->
</head>
<body id="category">
{include file=head.html}
<div id="breadcrumb">
  <div class="inner"> {pboot:position} </div>
</div>
<div id="wrapper">
  <div class="inner">
    <main id="main">
      <div id="blogList">
        {pboot:search num=8 order=sorting}
        <article class="blogItem wow animate__fadeInUp">
          <figure class="thumbnail"> <a target="_blank" href="[search:link]" title="[search:title]"> <img src="[search:ico]" alt="[search:title]"> </a> </figure>
          <div class="text">
            <h2 class="title"> <a target="_blank" href="[search:link]" title="[search:title]">[search:title]</a> </h2>
            <div class="rows excerpt"> [search:description lencn=120] </div>
            <div class="meta"> <span> <i class="ri-calendar-check-line"></i>
              <time datetime="[search:date style=Y-m-d]">[list:date style=Y-m-d]</time>
              </span> <span> <a href="[search:sortlink]" title="[search:sortname]"><i class="ri-price-tag-3-line"></i> [search:sortname]</a> </span> <span><i class="ri-eye-line"></i> [search:visits]</span></div>
          </div>
        </article>
        {/pboot:search}
      </div>
      {pboot:if({page:rows}>0)}
    <div class="pagebar">
    <div class="pagination">
    <a class="page-item page-link hidden-sm" href="{page:index}" title="首页">首页</a>
    {page:numbar}
    <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
    <a class="page-item page-link hidden-sm" href="{page:last}" title="尾页">尾页</a>
    </div>
    </div>	
    {else}
    <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
    </main>
    {include file=right.html}
  </div>
</div>
{include file=foot.html}
</body>
</html>